<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">
                Discover a new perspective
with Bixby Vision
            </h3>
            <p class="text-center">
                Bixby Vision offers various features to make it easier to learn more about the world around you. Tap the Bixby
Vision icon in the camera or gallery app to instantly search and translate. Bixby Vision also has accessibility
support to help the visually impaired or the weak-sighted.

            </p>
        </div>
    </div>
</div>