<div class="container-fluid">
    <div class="row banner-bg">
        <div class="col-md-4">
            <img src="https://cdn3d.iconscout.com/3d/free/thumb/free-bixby-vision-9060306-7475462.png?f=webp" alt=""  height="250px">
        </div>
        <div class="col-md-8">
            <h4>Bixby Vision offers various features to make it easier to learn more about the world around you. Tap the Bixby. Vision icon in the camera or gallery app to instantly search and translate. Bixby Vision also has accessibility. support to help the visually impaired or the weak-sighted.</h4>
        </div>
    </div>
</div>